* {
  padding: 0;
  margin: 0;
}
body {
  background: black;

  color: aliceblue;
}
.tbl {
  background: black;
  margin: 30px;
}
table,
th,
td {
  border: 1px solid black;
  border-color: #c9b577;
  font-size: larger;
}
.head {
  display: flex;
  padding: 10px;
  background: black;
  color: #c9b577;
  font-size: larger;
}
.head h1 {
  padding-top: 20px;
}
h2 {
  padding-left: 30px;
}
.vid {
  margin: 40px;
  display: flex;

  justify-content: space-around;
}
.vid video {
  background: #c9b577;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
.team {
  color: #c9b577;
  font: bold;
  padding-left: 40%;
  margin: 30px;
}
.script {
  margin-left: 30%;
}
